$color-primary: #ffd400;
$color-primary-white: #fff;
$color-primary-black: #000;
$color-primary-independence: #504d64;
$color-bright-anti-flash-white: #f1f1f4;
$color-primary-dark: #231f20;
$color-cetacean-blue: #10083f;
$color-gargoyle-gas: #ffe14d;
$color-dark-silver: #78735e;
$color-alice-blue: #eaf4ff;
$color-lemon-chiffon: #fff6cc;
$color-nyanza: #dff6d9;
$color-apple: #61ca45;
$color-mikado-yellow: #ffbd12;
$color-old-lace: #fff7e2;
$color-sapphire: #0c4dce;

$color-blue-cola: #0183d4;
$color-lavender-indigo: #9e66ff;
$color-roman-silver: #858295;
$color-magnolia: #f3ecff;
$justify-content-sb: space-between;
$justify-content-sa: space-around;
$justify-content-fe: flex-end;
$justify-content-fs: flex-start;
$transition-seconds: 0.6s;

@mixin flex-justify_content($jc) {
  display: flex;
  justify-content: $jc;
}

@mixin transform-transition($scale, $translateZ, $transition) {
  transform: scale($scale) translateZ($translateZ);
  transition: all $transition ease;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  color: $color-cetacean-blue;
  font-size: 18px;
  line-height: 24px;
  font-family: "SFProDisplay-Regular", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  background-color: $color-primary-white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
