@media (max-width: 1250px) {
  .container {
    max-width: 95%;
  }

  .call-to-action__inner {
    display: flex;
    flex-direction: column;
  }

  .mission__inner {
    display: flex;
    flex-direction: column-reverse;
  }

  .call-to-action__content,
  .mission__content {
    padding-bottom: 70px;
    margin: 0 auto;
    text-align: center;
  }

  div.call-to-action__image,
  div.mission__image {
    width: 375px;
    max-height: 250px;
    margin: 0 auto;
  }

  .call-to-action {
    padding: 60px 0;
  }

  div.respondent-info__inner p {
    padding: 30px;
  }

  ul.benefits__list,
  ul.steps__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .steps__item {
    margin-bottom: 30px;
    margin-left: 20px;
    text-align: center;
  }

  p:nth-child(1) {
    margin: 0 auto;
  }

  li.benefits__item {
    width: 360px;
    padding: 55px 35px;
  }

  li.benefits__item img {
    margin-bottom: 10px;
  }

  .benefits__item p.description-text {
    display: block;
  }

  .benefits__inner h2,
  .steps h2 {
    text-align: center !important;
  }

  header {
    padding: 0 20px;
  }
}

@media (max-width: 1050px) {
  section.call-to-action,
  section.mission {
    padding: 0;
  }

  section.respondent-info {
    padding: 30px;
  }

  section.benefits {
    margin-bottom: 10px;
  }

  .header__right {
    display: none !important;
  }

  .header__left {
    padding: 5px 0;
  }

  .menu {
    display: block !important;
  }

  .header__left-logo {
    transform: scale(0.7);
  }

  .call-to-action {
    padding: 40px 0;
  }

  .benefits__item {
    min-width: 350px;
  }
}

@media (max-width: 780px) {
  .call-to-action {
    padding: 20px;
  }

  .call-to-action__inner {
    padding: 20px;
  }
  .call-to-action__content h1 {
    font-size: 30px;
  }

  .offer-text {
    font-size: 17px;
    padding-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .call-to-action__content h1 {
    font-size: 25px;
  }
}
