<template>
  <HeaderComponent />
  <CallToAction />
  <RespondentInfo />
  <BenefitsComponent />
  <StepsComponent />
  <MissionComponent />
</template>

<script>
import HeaderComponent from "../components/HeaderComponent.vue";
import CallToAction from "../components/CallToAction.vue";
import RespondentInfo from "../components/RespondentInfo.vue";
import BenefitsComponent from "../components/BenefitsComponent.vue";
import StepsComponent from "../components/StepsComponent.vue";
import MissionComponent from "../components/MissionComponent.vue";

export default {
  name: "HomeView",
  components: {
    HeaderComponent,
    CallToAction,
    RespondentInfo,
    BenefitsComponent,
    StepsComponent,
    MissionComponent,
  },
};
</script>
