<script>
import BenefitItem from "./BenefitItem.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "BenefitsComponent",
  components: {
    BenefitItem,
  },
  mounted() {
    this.fetchBenefits;
  },
  computed: {
    ...mapGetters("card", ["cards", "benefitsTitle"]),
    ...mapActions("card", ["fetchBenefits"]),
  },
};
</script>

<template>
  <section class="benefits" id="benefits">
    <div class="container">
      <div class="benefits__inner">
        <h2>{{ benefitsTitle }}</h2>
        <ul class="benefits__list">
          <BenefitItem
            v-for="card in cards"
            :key="card.title"
            :card="card"
          ></BenefitItem>
        </ul>
      </div>
    </div>
  </section>
</template>

<style lang="scss">
@import "@/assets/css/base.scss";

.benefits {
  color: $color-primary-dark;
  background: $color-primary-white;
  text-align: center;
  margin-bottom: 50px;
}

.benefits__inner h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 40px;
  text-align: left;
}

.benefits__list {
  @include flex-justify_content($justify-content-sb);
  gap: 20px;
}
</style>
