<template>
  <li class="benefits__item" :style="style">
    <img :src="card.imageSrc" :alt="card.imageAlt" />
    <div class="benefits-text">
      <h3>{{ card.title }}</h3>
      <p class="description-text">
        {{ card.description }}
        {{ image }}
      </p>
    </div>
  </li>
</template>

<script>
export default {
  name: "BenefitItem",
  props: ["card"],
  computed: {
    style() {
      return `background-color: ${this.card.backgroundColor}`;
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/css/base.scss";

.benefits__item {
  padding: 85px 35px;
  border-radius: 16px;
  width: 330px;
  height: 400px;
  transition: width 0.1s;

  img {
    width: 142px;
    height: 142px;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 20px;
    color: $color-primary-black;
  }

  p {
    color: $color-dark-silver;
    max-width: 290px;
    display: none;
  }

  @include transform-transition(1, 0, $transition-seconds);

  &:has(~ .benefits__item:hover) {
    @include transform-transition(0.9, 0, $transition-seconds);
  }

  &:hover {
    & ~ .benefits__item {
      @include transform-transition(0.9, 0, $transition-seconds);
    }

    @include transform-transition(1.03, 0, $transition-seconds);

    img {
      margin-bottom: 10px;
      transition: all $transition-seconds ease;
    }

    p {
      display: block;
      transition: all $transition-seconds ease;
    }
  }

  &:nth-child(2) {
    background-color: $color-alice-blue;
  }

  &:nth-child(3) {
    background-color: $color-primary-black;

    & h3 {
      color: $color-primary-white;
    }
  }
}
</style>
