<script>
export default {
  name: "CallToActionContent",
  props: ["ctaContent"],
  data() {
    return {
      htmlText: this.ctaContent.description,
    };
  },
};
</script>

<template>
  <div class="call-to-action__content">
    <h1>{{ ctaContent.title }}</h1>
    <div v-html="htmlText"></div>
    <div class="call-to-action-buttons">
      <a
        class="cta-button"
        href="https://docs.google.com/forms/d/e/1FAIpQLSfm_Yj07urIb_fF0mTRGZgl5DWt5lC2qYd4TngwXWMgMHiYMg/viewform"
        >{{ ctaContent.buttonText }}</a
      >
    </div>
  </div>
</template>
