<script>
import CallToActionContent from "./CallToActionContent.vue";
import { mapGetters } from "vuex";

export default {
  name: "CallToAction",
  components: {
    CallToActionContent,
  },
  computed: {
    ...mapGetters("callToAction", ["callToActionContent"]),
  },
};
</script>

<template>
  <section class="call-to-action" id="mainCta">
    <div class="container">
      <div class="call-to-action__inner">
        <CallToActionContent :ctaContent="callToActionContent" />
        <div class="call-to-action__image"></div>
      </div>
    </div>
  </section>
</template>

<style lang="scss">
@import "@/assets/css/base.scss";

.call-to-action,
.mission {
  background-color: $color-bright-anti-flash-white;
  padding: 50px 0;
}

.call-to-action__inner,
.mission__inner {
  @include flex-justify_content($justify-content-sb);
}

.call-to-action__content,
.mission__content {
  max-width: 350px;
}

.call-to-action__content h1,
.mission__content h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  padding-bottom: 24px;
  padding-top: 10px;
}

.description-text {
  font-size: 18px;
  padding-bottom: 25px;
  color: $color-primary-independence;
}

.call-to-action__image,
.mission__image {
  width: 650px;
  height: 430px;
  background-image: url(../assets/images/call-to-action-img.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cta-button {
  background-color: $color-primary;
  margin-top: 5px;
  font-weight: 700;
  font-size: 15px;
  width: 158px;
  cursor: pointer;
  padding: 17px 32px;
  border-radius: 12px;
  border: none;
  text-align: center;
}

.cta-button:hover {
  background-color: $color-gargoyle-gas;
}
</style>
