<script>
import NavigationComponent from "./NavigationComponent.vue";

export default {
  name: "HeaderComponent",

  components: {
    NavigationComponent,
  },
};
</script>

<template>
  <header class="header">
    <div class="container">
      <div class="header__inner">
        <div class="header__left">
          <ul class="leftmenu__list">
            <li class="leftmenu__item">
              <a class="leftmenu__link" href="#"
                ><img
                  src="../assets/images/logo-beeline.svg"
                  alt="beeline-logo"
                  class="header__left-logo"
              /></a>
            </li>
          </ul>
        </div>
        <NavigationComponent />
      </div>
    </div>
  </header>
</template>

<style scoped lang="scss">
@import "@/assets/css/base.scss";

header {
  background-color: $color-bright-anti-flash-white;
  font-weight: bold;
  letter-spacing: 0.5px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header__inner {
  @include flex-justify_content($justify-content-sb);
  position: relative;
}
.header__left {
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  padding: 20px 0;
}
</style>
