<template>
  <div>
    <h2>{{ info.title }}</h2>
    <p class="description-text">
      {{ info.description }}
    </p>
  </div>
</template>

<script>
export default {
  name: "InfoComponent",
  props: ["info"],
};
</script>

<style scoped lang="scss">
@import "@/assets/css/base.scss";

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 36px;
}
</style>
