<script>
import CallToActionContent from "./CallToActionContent.vue";
import { mapGetters } from "vuex";

export default {
  name: "MissionComponent",
  computed: {
    ...mapGetters("mission", ["missionContent"]),
  },
  components: { CallToActionContent },
};
</script>

<template>
  <section class="mission" id="mission">
    <div class="container">
      <div class="mission__inner">
        <div class="mission__image"></div>
        <div class="mission__content">
          <CallToActionContent :ctaContent="missionContent" />
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss">
@import "@/assets/css/base.scss";

.mission {
  background-color: $color-primary-white;
  margin-bottom: 100px;
}

.mission .cta-button {
  width: 260px;
}

div.mission__image {
  background-image: url(../assets/images/mission-img.svg);
}
</style>
