<template>
  <li class="navigation__item">
    <a @click="scrollToSection(componentId)">{{ item.title }}</a>
  </li>
</template>

<script>
export default {
  name: "NavItem",
  props: ["item"],
  methods: {
    scrollToSection(id) {
      const section = document.getElementById(id);
      if (section) {
        section.scrollIntoView({ behavior: "smooth" });
      }
    },
  },
  computed: {
    componentId() {
      return this.item.id;
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/css/base.scss";

li.navigation__item:hover {
  color: $color-primary;
}
</style>
