<script>
import { mapGetters } from "vuex";
import NavItem from "./NavItem.vue";

export default {
  name: "NavigationComponent",
  data() {
    return {
      isMenuOpen: false,
    };
  },
  methods: {
    toggleMenu() {
      this.isMenuOpen = !this.isMenuOpen;
    },
  },
  components: {
    NavItem,
  },
  computed: {
    ...mapGetters("nav", ["navItems"]),
  },
};
</script>

<template>
  <div class="navigation__wrapper">
    <nav class="header__right">
      <ul class="navigation__list">
        <NavItem v-for="item in navItems" :key="item" :item="item" />
      </ul>
    </nav>
    <div class="menu" :class="{ active: isMenuOpen }" @click="toggleMenu">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <transition name="slide">
      <div class="menu-overlay" v-if="isMenuOpen">
        <div class="menu-logo" @click="toggleMenu">
          <a href="#"
            ><img
              src="../assets/images/logo-beeline.svg"
              alt="beeline-logo"
              class="header__left-logo"
          /></a>
        </div>
        <div class="close-button" @click="toggleMenu">&times;</div>
        <ul class="menu-list">
          <NavItem v-for="item in navItems" :key="item" :item="item" />
        </ul>
      </div>
    </transition>
  </div>
</template>

<style scoped lang="scss">
@import "@/assets/css/base.scss";

.header__right {
  @include flex-justify_content($justify-content-sb);
  min-width: 400px;
  padding: 30px 0;
}
.navigation__list {
  @include flex-justify_content($justify-content-sb);
  gap: 25px;
}

div.menu {
  display: flex;
  align-items: center;
  display: none;
  margin: 20px 10px;
  background-color: $color-primary-white;
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 15px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 2px;
  background-color: #000;
}

.menu-list {
  margin: 0;
  padding: 0;
}

.menu-list li {
  margin-bottom: 20px;
}

.menu-list li a {
  color: $color-primary-dark;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 25px;
  color: $color-primary-black;
  background-color: $color-bright-anti-flash-white;
  padding: 7px 10px;
  border-radius: 10px;
}

.menu-logo {
  position: absolute;
  top: 15px;
  left: 10px;
  cursor: pointer;
  padding: 7px 10px;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.4s ease;
}

.slide-enter-from {
  transform: translateX(100%);
  opacity: 0;
}

.slide-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 100px;
}
</style>
