<script>
import InfoComponent from "./InfoComponent.vue";
import { mapGetters } from "vuex";

export default {
  name: "RespondentInfo",
  components: {
    InfoComponent,
  },
  computed: {
    ...mapGetters("respondentInfo", ["respondentInfo"]),
  },
};
</script>

<template>
  <section class="respondent-info">
    <div class="container">
      <div class="respondent-info__inner">
        <InfoComponent :info="respondentInfo" />
      </div>
    </div>
  </section>
</template>

<style scoped lang="scss">
@import "@/assets/css/base.scss";

.respondent-info {
  padding: 100px 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.respondent-info__inner {
  max-width: 650px;
}
</style>
