<template>
  <li class="steps__item">
    <p :style="styles">{{ step.number }}</p>
    <h3 v-html="htmlText"></h3>
    <p class="description-text">{{ step.description }}</p>
  </li>
</template>

<script>
export default {
  name: "StepItem",
  props: ["step"],
  data() {
    return {
      htmlText: this.step.title,
    };
  },
  computed: {
    styles() {
      return ` background-color: ${this.step.backgroundColor}; color: ${this.step.color}; `;
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/css/base.scss";

.steps__item {
  width: 440px;
  background-color: $color-primary-white;
  border-radius: 10px;

  margin-bottom: 45px;

  &:last-child {
    padding-bottom: 0;
  }

  p:nth-child(1) {
    font-weight: bold;
    font-size: 36px;
    padding: 18px 22px;
    border-radius: 5px;
    width: 62px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 16px;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: $color-primary-black;
    margin-bottom: 10px;
  }

  p:nth-child(3) {
    padding-bottom: 0;
  }
}

.steps__item a {
  color: $color-sapphire;
  border-bottom: 1px solid $color-sapphire;
}
</style>
