<script>
import StepItem from "./StepsItem.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "StepsComponent",
  components: {
    StepItem,
  },
  mounted() {
    this.fetchSteps;
  },
  computed: {
    ...mapGetters("steps", ["steps", "stepsTitle"]),
    ...mapActions("steps", ["fetchSteps"]),
  },
};
</script>

<template>
  <section class="steps" id="steps">
    <div class="container">
      <div class="steps__inner">
        <h2>{{ stepsTitle }}</h2>
        <ul class="steps__list">
          <StepItem
            v-for="step in steps"
            :key="step.title"
            :step="step"
          ></StepItem>
        </ul>
      </div>
    </div>
  </section>
</template>

<style lang="scss">
@import "@/assets/css/base.scss";

.steps {
  padding: 45px 0;
  color: $color-primary-dark;
}

.steps__inner h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 46px;
}

.steps__list {
  @include flex-justify_content($justify-content-sb);
  flex-wrap: wrap;
  margin-top: 75px;
}
</style>
