<script>
import HomeView from "./views/HomeView.vue";

export default {
  name: "App",
  components: {
    HomeView,
  },
};
</script>

<template>
  <HomeView />
</template>

<style lang="scss"></style>
